<!DOCTYPE hmtl>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Hello World</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
    th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" REL="stylesheet" media="screen" />

    <link href="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/css/jquery.min.js"
          th:href="@{/webjars/bootstrap/2.1.4/css/jquery.min.js}" />


</head>
<body>
<h1>My Index Page</h1>
</body>
</html>